<div class="col s12 m6">

  <div class="card">
    <div class="card-content">
      <span class="card-title truncate">{{ person.name }}</span>
      <ul>
        <li>Height: {{ person.height }}</li>
        <li>Mass: {{ person.mass }}</li>
        <li>Hair_color: {{ person.hair_color }}</li>
        <li>Skin_color: {{ person.skin_color }}</li>
        <li>Eye_color: {{ person.eye_color }}</li>
        <li>Birth_year: {{ person.birth_year }}</li>
        <li>Gender: {{ person.gender }}</li>
      </ul>
    </div>
  </div>

</div>

